$heading: #333;
$centerText: center;
$defaultPadd: 20px;
$border: 1px solid #d1d1d1;
$defaultMargin: 40px 0 0 0;
$justify-space: space-between;
$defaultComponent: 15px;
$popUpColor: #00000047;
$white: #fff;
$mBottom: 15px;
$dangerColor: #dc3545;